@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 20 14.3% 4.1%;
  --card: 0 0% 100%;
  --card-foreground: 20 14.3% 4.1%;
  --popover: 0 0% 100%;
  --popover-foreground: 20 14.3% 4.1%;
  --primary: 24 9.8% 10%;
  --primary-foreground: 60 9.1% 97.8%;
  --secondary: 60 4.8% 95.9%;
  --secondary-foreground: 24 9.8% 10%;
  --muted: 60 4.8% 95.9%;
  --muted-foreground: 25 5.3% 44.7%;
  --accent: 60 4.8% 95.9%;
  --accent-foreground: 24 9.8% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 60 9.1% 97.8%;
  --border: 20 5.9% 90%;
  --input: 20 5.9% 90%;
  --ring: 20 14.3% 4.1%;
  --radius: 0.5rem;
  --color-link: #1a0dab;

}

.dark {
  --background: 20 14.3% 4.1%;
  --foreground: 60 9.1% 97.8%;
  --card: 20 14.3% 4.1%;
  --card-foreground: 60 9.1% 97.8%;
  --popover: 20 14.3% 4.1%;
  --popover-foreground: 60 9.1% 97.8%;
  --primary: 60 9.1% 97.8%;
  --primary-foreground: 24 9.8% 10%;
  --secondary: 12 6.5% 15.1%;
  --secondary-foreground: 60 9.1% 97.8%;
  --muted: 12 6.5% 15.1%;
  --muted-foreground: 24 5.4% 63.9%;
  --accent: 12 6.5% 15.1%;
  --accent-foreground: 60 9.1% 97.8%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 60 9.1% 97.8%;
  --border: 12 6.5% 15.1%;
  --input: 12 6.5% 15.1%;
  --ring: 24 5.7% 82.9%;
  --radius: 0.5rem;
  --color-link: #8ab4f8;
}

html, body {
  font-family: 'Roboto', sans-serif;
  color: hsl(var(--foreground));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(var(--foreground));
}

h1 {
  @apply text-5xl font-bold;
  color: hsl(var(--foreground));
}

h2 {
  @apply text-4xl font-bold;
}

h3 {
  @apply text-3xl font-bold;
}

h4 {
  @apply text-2xl font-bold;
}

h5 {
  @apply text-xl font-bold;
}

p {
  @apply mt-1;
  color: hsl(var(--foreground));
}

image {
  @apply rounded-lg shadow-md w-full;
  display: block;
  max-width: 100%;
  height: auto;
}

iframe {
  display: block;
  max-width: 100%;
  height: auto;
}


/* button {
   background-color: hsl(var(--primary)); 
  color: hsl(var(--primary-foreground));
  border: 2px solid hsl(var(--border));
  @apply px-8 py-3 font-semibold rounded-lg;
} */


button:hover {
  background-color: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));
  @apply scale-95
}

.card {
  background-color: hsl(var(--card));
  border-color: hsl(var(--border));
  color: hsl(var(--card-foreground));
  @apply rounded-xl shadow-lg p-6;
}

.maincard {
  background-color: hsl(var(--card));
  border: 1px solid hsl(var(--border));
  color: hsl(var(--card-foreground));
  @apply rounded-xl shadow-lg p-6;
}

.gradient_card {
  background-image: linear-gradient(135deg, hsl(var(--primary)), hsl(var(--secondary)));
}

pre {
  background-color: hsl(var(--muted));
  color: hsl(var(--foreground));
  border-radius: 2rem;
  padding: 1.25rem 1rem;
  font-size: 1rem;
  font-family: 'Fira Mono', 'Consolas', 'Menlo', 'Monaco', monospace;
  overflow-x: auto;
  margin: 1.5rem 0;
  box-shadow: 0 2px 8px 0 rgba(128, 124, 124, 0.795);
}

code {
  background-color: hsl(var(--muted));
  color: hsl(var(--foreground));
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-family: 'Fira Mono', 'Consolas', 'Menlo', 'Monaco', monospace;
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
  word-break: break-word;
  font-size: 1rem;
}

@media (max-width: 640px) {
  code {
    font-size: 0.95rem;
    padding: 0.2rem 0.4rem;
  }
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-wave {
  animation: wave 2s infinite linear;
}

@layer utilities {
  .truncate-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

h1 {
  @apply text-4xl sm:text-3xl md:text-5xl lg:text-6xl font-bold;
}

a {
  color: var(--color-link);
  @apply font-semibold;
}

a:hover {
  @apply cursor-pointer;
}

input[type='text'],
input[type='radio'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='tel'],
input[type='url'] {
  color: hsl(var(--foreground));
}

label {
  color: hsl(var(--foreground));
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: hsl(var(--foreground));
  border: 2px solid hsl(var(--border));
}

table th,
table td {
  padding: 12px 15px;
  border: 1px solid hsl(var(--border));
  text-align: left;
}

table th {
  background-color: hsl(var(--card));
  color: hsl(var(--foreground));
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: hsl(var(--card));
}

table tr:hover {
  background-color: hsl(var(--muted));
}

.theme-change {
  animation: themeChange 1s ease-in-out;
}

@keyframes themeChange {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.button-highlight {
  animation: buttonHighlight 1s ease-in-out;
}

@keyframes buttonHighlight {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground;
  }
}